.App {
  text-align: center;
  background-color: #e9ebee;
}
h3{display:inline;margin:2px;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #35353b;
  height: 80px;
  padding: 15px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
ul{
  list-style-type: none;
  padding:10px;
}
.itemList{
  margin-top: 3px;
  padding-top:  10px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
  border:1px solid #dddfe2;
}
.logo{
  border-radius: 30px;
  border: 1px solid;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.row_edit{
  padding :2px;
  padding-left: 3.5%;
  text-align: left;
  margin: 0px;
}
.row_title{
  width :20%;
  display: inline-block;
}
.row_input{
  width:70%;
}
textarea {
  height: 50px;
}
input {
  height:20px;
}
.elegant_grey{
  color: #4f494b
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.cmMargin{
  margin: 15px;
}
.wrapEditor{
  padding : 0px;
  border: 1px solid #dddfe2;
  margin: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #f6f7f9;
}

.textEditor{
  width:100%;
  min-height: 100px;
  background-color: white;
  border-bottom: 1px solid #dddfe2;
}
.textEditor .innerEdit{
  text-align: left;
  color: #1d2129;
  padding:20px;
  min-height: 90px;
}
/*placeholder*/
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
div[contenteditable=true] {
  padding: 5px;
}
.actionBar{
  min-height: 40px;
}
.upload{
  width:100px;
  height: 30px;
  margin: 5px;
  float:right;
  color: white;
  background-color: #35353b;
  border-radius: 3px 3px 3px 3px;
  border: 0px;
}
.greyTxt{
  color:#666;
  font-size: 12px;
}
