.App {
  text-align: center;
  background-color: #e9ebee;
}
h3{display:inline;margin:2px;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #35353b;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
ul{
  list-style-type: none;
  padding:10px;
}
.itemList{
  margin-top: 3px;
  padding-top:  10px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
  border:1px solid rgba(79, 73, 75, 0.28)
}
.logo{
  border-radius: 75px;
  border: 1px solid;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.row_edit{
  padding :2px;
  padding-left: 3.5%;
  text-align: left;
  margin: 0px;
}
.row_title{
  width :20%;
  display: inline-block;
}
.row_input{
  width:70%;
}
textarea {
  height: 50px;
}
input {
  height:20px;
}
.elegant_grey{
  color: #4f494b
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.cmMargin{
  margin-left: 15px;
}
